@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.AboutTest{
    margin-top:2%;
    color: #aaa;
    background-color:rgb(29, 44, 29);
    background-image: url("https:/www.transparenttextures.com/patterns/felt.png");
    border-radius: 8px;
    font-family:'Lora', serif;

}

#pageTitle{
    text-align: center;
    font-size: 8em;
    font-family:'Lora', serif;
    padding-top: 5%;

}

#intro{
    position: relative; 
    padding-top: 5%;
    width: 75%;
    text-align: center;
    font-size: 3em;
    margin: 0 auto 15px;
    font-family:'Lora', serif;

}

#warningDiv{
    position: relative;
    width:40%;
    left:50%;
    bottom:450px;
}
#warningTitle{
    
    color: black; 
    font-size: 3em;
    text-align: center;
    font-family: 'Notable', sans-serif;

}
#warningPara{
    position:relative;
    overflow: hidden;
    
    text-align: center;
    font-size: 2.5em;
    
    font-family:'Lora', serif;
}

#buttonDiv{
        position: relative;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration:saddlebrown;
        display:inline-flexbox;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        width:9%;
        top:100px;
        left:15%;      
}

#button1,#button2,#button4,#button3,#button5{
    background-color: rgb(15, 90, 151);
    background-image: url("https:/www.transparenttextures.com/patterns/felt.png");
    position: relative;
    font-size: 25px;
    width:300%;
    padding:20px;
    margin-bottom: 30%;
}
#button1:hover,#button2:hover,#button4:hover,#button3:hover,#button5:hover {
    background: #0b7dda;
    color: white;
  }

#whatIs{
    position: relative; 
    padding-top: 5%;
    width: 75%;
    text-align: center;
    font-size: 2.7em;
    margin: 0 auto 15px;
    font-family:'Lora', serif;  
}
#whatIsTitle{
    font-size: 2em;
    font-family:'Lora', serif;  
    text-align: center;
}
#whatIsPara{
    padding-top: 4%;
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .AboutTest{
        height:4000px;
    }
    #buttonDiv{
        position: relative;
        border: none;
        color: white;
        text-align: center;
        text-decoration:saddlebrown;
        display:inline-flexbox;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        width:9%;
        top:23%;
        left:35%;      
}

#button1,#button2,#button4,#button3,#button5{
    background-color: rgb(15, 90, 151);
    background-image: url("https:/www.transparenttextures.com/patterns/felt.png");
    position: relative;
    font-size: 25px;
    width:1300%;
    padding:20px;
    margin-bottom: 30%;
}

#warningDiv{
    position: relative;
    width:60%;
    left:20%;
    bottom:450px;
}



  }
  /********** Xtra Small devices only **********/

  @media (max-width: 767px) {

    .AboutTest{
        height:2200px;
        font-size: 7px;
    }
    #buttonDiv{
        position: relative;
        border: none;
        color: white;
        text-align: center;
        text-decoration:saddlebrown;
        display:inline-flexbox;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        width:17%;
        top:20%;
        left:25%;      
}

#button1,#button2,#button4,#button3,#button5{
    background-color: rgb(15, 90, 151);
    background-image: url("https:/www.transparenttextures.com/patterns/felt.png");
    position: relative;
    font-size: 17px;
    width:1300%;
    padding:20px;
    margin-bottom: 30%;
}

#warningDiv{
    position: relative;
    width:60%;
    left:20%;
    bottom:450px;
}
    

  }