@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.AboutTest{
    margin-top:30px;
    color: #aaa; 
    background-color:rgb(29, 44, 29);
    background-image: url("https:/www.transparenttextures.com/patterns/felt.png");
    border-radius: 8px;
    font-family:'Lora', serif;

}
#logo-img {
    background-repeat: round;
    position: relative;
    left:600px;
    top:100px;
    

}
#pageTitle{
    text-align: center;
    font-size: 8em;
    font-family:'Lora', serif;
    padding-top: 5%;

}

#intro{
    position: relative; 
    padding-top: 5%;
    width: 75%;
    text-align: center;
    font-size: 3em;
    margin: 0 auto 15px;
    font-family:'Lora', serif;

}

#warningTitle{
    overflow: hidden;
    color: black; 
    padding-top: 5%;
    width: 20%;
    font-size: 3em;
    margin: 0  70%;
    font-family: 'Notable', sans-serif;

}
#warningPara{
    position:relative;
    overflow: hidden;
    padding-top: 2%;
    width: 30%;
    font-size: 1.5em;
    left:60%;
    font-family:'Lora', serif;

}

#headTitle{
    position: relative;
    overflow: hidden;
    width: 20%;
    font-size: 3em;
    bottom:10%;
    left:4%;
    font-family:'Lora', serif;
}

#h4{
    
    position: relative;
    font-family:'Lora', serif;  
    font-size: 1.5em;
}
#term{
    position: relative;
   
    overflow: hidden;
    font-size: 1em;
    width:50%;
    bottom:10%;
    left:10%;
    font-family:'Lora', serif;
    }

#htpTitle{
    position: relative;
   overflow: hidden;
    font-size: 1em;
    bottom:250px;
    left:50%;
    font-family:'Lora', serif;

}

#playerOptions{
    position: relative;
   
    overflow: hidden;
    width:30%;
    font-size: 1em;
    bottom:7%;
    left:10%;
    font-family:'Lora', serif;
}

#playerOpTitle, #dealerOpTitle, #winCondTitle{
    font-size: 1.5em;
}

#playerOpPara, #dealerOpPara, #winConPara, #whatIsPara{
    position: relative;
    font-size: 1em;
    font-family: 'Notable', sans-serif;

}

#dealerOption{
    position: relative;
   
    overflow: hidden;
    width:30%;
    font-size: 1em;
    bottom:26%;
    left:60%;
    font-family:'Lora', serif;
}

#winCond{
    position: relative;
   
    overflow: hidden;
    width:30%;
    font-size: 1em;
    bottom:26%;
    left:60%;
    font-family:'Lora', serif;  
}

#whatIs{
    position: relative;
   
    overflow: hidden;
    width:50%;
    text-align: center;
    font-size: 1.7em;
    bottom:15%;
    left:25%;
    font-family:'Lora', serif;  
}
#whatIsTitle{
    font-size: 1.5em;
    font-family:'Lora', serif;  
    text-align: center;

}