.homePage{
  background-color:rgb(29, 44, 29);
  background-image: url("https:/www.transparenttextures.com/patterns/felt.png");
  margin-top:30px;
  color: #aaa;
  border-radius: 8px;
}



    #menu-tile, #specials-tile, #quiz-tile {
      height: 246px;
      width:356px;
      margin-bottom: 15px;
      position: relative;
      border: 2px solid #3F0C1F;
      overflow: hidden;
      background-repeat: no-repeat;
    }

    #menu-tile:hover, #specials-tile:hover, #quiz-tile:hover {
      box-shadow: 0 1px 5px 1px #cccccc;

    }

    #quiz-tile {
      background-image: url('./quizTime.png');
      background-repeat: round;
      background-position: center;
     
    }

    #specials-tile {
      background-image: url('./basicStrategy.png');
      background-repeat: round;
      background-position: center;
      margin-right:3%;

    }

    #menu-tile {
      background-image: url('./whatisbj.png');
      background-position: center;
      background-repeat: round;
      margin-right:3%;

    }

    #menu-tile span, #specials-tile span, #quiz-tile span{
      position: absolute;
      bottom: 0;
      right:0;
      width:100%;
      text-align:center;
      font-size:1.6em;
      text-transform: uppercase;
      background-color:#fff;
      color:black;
      opacity: .6;
    }

    .home-tiles{
      display:flex;
      justify-content: center;
      width:100%;
	    position: relative;
      overflow: hidden;
      bottom:30px
      
    }

/********** Large devices only **********/

@media (min-width: 1200px) {
     
  .jumboHolder {
        height: 1100px;
        border-top: 1px solid #3F0C1F;
      }
      .innerJumbo{
          background-image: url('./jumbo_background800.png');
          background-repeat: round;
          margin: 10%;
		      height: 800px;
		      box-shadow: 0 0 20px #3F0C1F;
		      border: 2px solid #3F0C1F;
      }
    }    
/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
  .homePage{
    height:1300px;
  }
  .jumboHolder {
    height: 700px;
    border-top: 1px solid #3F0C1F;
  }
  .innerJumbo{
      background-image: url('./jumbo_background800.png');
      background-repeat: round;

      margin: 10%;
      height: 800px;
      box-shadow: 0 0 20px #3F0C1F;
      border: 2px solid #3F0C1F;
  }
  .home-tiles{
  top:300px;
  }
  
}    
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .jumboHolder {
    height: 700px;
    border-top: 1px solid #3F0C1F;
  }
  .innerJumbo{
      background-image: url('./jumbo_background800.png');
      background-repeat: round;

      margin: 10%;
      height: 500px;
      box-shadow: 0 0 20px #3F0C1F;
      border: 2px solid #3F0C1F;
  }
  .home-tiles{
    height: 250px;
    display:inline;
    position: relative;
    left:30%
  }
}
/********** Xtra Small devices only **********/

@media (max-width: 767px) {
  .homePage{
    height:1400px
  }
  .jumboHolder {
    height: 500px;
    border-top: 1px solid #3F0C1F;
  }
  .innerJumbo{
      background-image: url('./jumbo_background800.png');
      background-repeat: round;

      margin: 10%;
      height: 400px;
      box-shadow: 0 0 20px #3F0C1F;
      border: 2px solid #3F0C1F;
  }
  
  .home-tiles{
    height: 250px;
    display:inline;
    position: relative;
    left:25%;
    top: 40px;
  }
}