@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Montserrat:wght@500&display=swap');

.cardDisplayGP {
  max-width: 6rem;
  opacity: 1;
  border: 5px solid black;
  border-radius: 7%;


}


.dealerShowGP {
  margin-right: 2%;
  margin-left: 2%;
  padding: 2%;
  /* border: 3px solid #aaa; */
  color: lightgrey;
  margin-bottom: 0.05rem;
}

.playerShowGP {

}

.playerCardsGP{
  border: 0.15rem solid white;
  margin: 0.3rem;
  padding: 0.5rem;
}

#playerGameGP {
  padding-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  /* border: 0.15rem solid #ffaa3b; */
  color: lightgrey;
}

#gameContainerGP {
  text-align: center;
  /* margin-top: 30px; */
  margin-top: 2.45%;
  /* padding-top: 35px; */
  padding-top: 2.5%;
  border-radius: 0.5rem;
  /* min-height: 25%; */
  /* padding-bottom: 5px; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  background-color: #064408;
  background-image: url("https:/www.transparenttextures.com/patterns/felt.png");


}

#gameOptionsGP {
  padding: 0.5%;

}

#settingsGP {
  color: white;
  padding: 17%;
}

#handStatsGP {
  font-size: small;
  color: #aaa;
}

.gameplayBtnGP{
  background-color: goldenrod;
  border-radius: 2px;
  font-size: 0.9rem;
  margin-left: 0.2rem;
  margin-right: 0.25rem;
  padding: 6px 12px;
  -mox-box-shadow: inset 0 1 px 0 10  rgb(241, 207, 11);
  -webkit-box-shadow: inset 0 1 px 0 10 rgb(241, 207, 11);
  box-shadow: inset 0 1 px 0 10  rgb(241, 207, 11);
  border: solid 1px  rgb(241, 207, 11);
  color: black;
  text-shadow: 0 1px 0  rgb(241, 207, 11);
  font-family: 'Alegreya Sans SC', sans-serif;

}

.gameplayBtnGP:hover{
  background:  rgb(255, 217, 0);
}

.gameplayBtnGP:active{
  background: rgb(233, 211, 87);
  border-color:rgb(233, 211, 87);
}

#allPlayerHandsGP {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  justify-content: space-evenly;
}

#playerPointsGP {
  color: goldenrod;
}

#hintGP {
  padding-top: 1rem;
  font-family: 'Doppio One', sans-serif;
  color: lightgrey;
  /* background: green; */
}

.handPointsGP {
  /* font-family: 'Doppio One', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

#winMessageGP {
  color: goldenrod;
  font-family: 'Doppio One', sans-serif;
  padding: 0.38rem;
}

#playerButtonsHidden {
  padding: 0.38rem;
}
