@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


.App2 {
  text-align: center;
}

.dealer{
  font-family: 'Alegreya Sans SC', sans-serif;
}

.game{
  font-size: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #106813;
  border-radius: 8px;
  background-image: url("https://www.transparenttextures.com/patterns/felt.png");
  margin-top: 2%;

}

.card {
  max-width: 10%;
  opacity: 1;
  border: 5px solid black;
  border-radius: 7%;
  transition: opacity 0.25s ease-in-out;

}
.cardDisplayQuiz {
  max-width: 10%;
  opacity: 1;
  border: 5px solid black;
  border-radius: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 5);


}
.Quiz * {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: rgb(19, 18, 18);


}


.main{
font-family: 'Alegreya Sans SC', sans-serif;
text-align: center;
background-color: #008f05;
background-image: url("https://www.transparenttextures.com/patterns/felt.png");

}
.WelcomePage {

font-family: 'Alegreya Sans SC', sans-serif;
text-align: center;
font-size: 60px;
/* background-image:url('./blackjackbackground.jpg'); */
background-size: cover;
}
.playerStatus{
  font-family: 'Alegreya Sans SC', sans-serif;

}

.welcomePicture{
  filter: blur( .5px );
  box-shadow: 10px 20px 30px black;
}

.divider{
  width:20px;
  height:auto;
  display:inline-block;
}
.divider2{
  width:10px;
  height:auto;
  display:inline-block;
}
.results{
  text-align: center;
  font-size: 60px;
  font-family: 'Alegreya Sans SC', sans-serif;

}
.questionCount{
  text-align: center;
  font-size: 60px;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.answers {
  background-color: goldenrod;
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 6px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 5);
  border: solid 1px  rgb(241, 207, 11);
  color: black;
  text-shadow: 0 1px 0  rgb(241, 207, 11);

}
.startQuiz {
  background-color: goldenrod;
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 2px;
  font-size: 1.8rem;
  padding: 6px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 5);
  border: solid 1px  rgb(241, 207, 11);
  color: black;
  text-shadow: 0 1px 0  rgb(241, 207, 11);

}
.startQuiz:hover{
  background:  rgb(255, 217, 0);
}

.startQuiz:active{
  background: rgb(233, 211, 87);
  border-color:rgb(233, 211, 87);
}


.start {
  background-color: goldenrod;
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 6px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 5);
  border: solid 1px  rgb(241, 207, 11);
  color: black;
  text-shadow: 0 1px 0  rgb(241, 207, 11);

}

.start:hover{
  background:  rgb(255, 217, 0);
}

.start:active{
  background: rgb(233, 211, 87);
  border-color:rgb(233, 211, 87);
}
.startClick {
  background: rgb(255, 217, 0);
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 6px 12px;
  -mox-box-shadow: inset 0 1 px 0 10  rgb(241, 207, 11);
  -webkit-box-shadow: inset 0 1 px 0 10 rgb(241, 207, 11);
  box-shadow: inset 0 1 px 0 10  rgb(241, 207, 11);
  border: solid 1px  rgb(241, 207, 11);
  color: black;
  text-shadow: 0 1px 0  rgb(241, 207, 11);

}

.correct{
  background-color: rgb(46, 243, 56);
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 6px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 5);
  border: solid 1px  rgb(46, 242, 56);
  color: black;
  text-shadow: 0 1px 0  rgb(46, 242, 56);
}
.wrong{
  background-color: rgb(245, 23, 23);
  font-family: 'Alegreya Sans SC', sans-serif;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 6px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 5);
  border: solid 1px  rgb(245, 23, 23);
  color: black;
  text-shadow: 0 1px 0  rgb(245, 23, 23);
}
body{
  width: 100%;
  background-color: #008f05;
  background-image: url("https://www.transparenttextures.com/patterns/felt.png");
	overflow-x: hidden;
  font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 17px;
	line-height: 30px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.break{
  line-height: 2px;
}
